<div class="start">
    <div class="top" >
        <div style="margin-left: 108px;">
            <span style=" font-weight:500; font-size: 20px; margin-right: 5px;">Books</span> <span style="font-size: 11px; opacity:.5;">(130)</span>
        </div>
        <div class="sort">
            <span style="margin-left: 15px; font-size:smaller">Sort by relevance</span>
        </div>
    </div>
    <div class="Main">
        <div class="container" *ngFor="let book of BookList">
            <div class="box">
                <div class="img" (click)="bookDetails(book)">
                    <img class="book-image" src="../../../assets/book2.png" alt="">
                </div>
                <div class="txt">
                    <div class="name">
                        <span class="name" style="font-weight: 450;">{{book['bookName']}}</span>
                        <span class="author" style="font-size: 11px; opacity:.5;">by {{book['author']}}</span>
                    </div>
                    <div class="rating-back">
                        <span class="rating">4.5
                            <img class="star" src="../../../assets/star_FILL.svg" alt="">
                        </span>
                    </div>
                    <span class="price"> Rs
                        {{book['price']}}
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>