<div class="Main" fxLayout="column">
    <div class="box1">
        <div >
            <button class="heading" style="padding-right: 0px;">
                <span routerLink="/home/books">Home /</span>

            </button>

            <button class="heading" style="padding-left: 3px;"> 
                <span style="font-weight: bold;">Book</span>
            </button>
        </div>
    </div>
    <div class="quickView">
        <div class="side-Image">
            <img style="width: 35px; height: 45px; padding: 5px;border: 1px solid #878787" src="../../../assets/book1.png">
        </div>
        <div style="display: grid;height: 280px;">
            <div class="bookImg">
                <img style="width: 200px; height: 260px; padding: 20px;" src="../../../assets/book1.png">

            </div>
            <div class="connect" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <button class="bag">
                    ADD TO BAG 
                </button>

                <button class="wishList">
                    <img style="width: 15px; background-color: #fff; "src="../../../assets/favorite.svg" alt="">
                   WISHLIST
                </button>
            </div>
        </div>
        <div class="details">

            <div class="rightbook">
                <div fxLayout="column" style="display: grid;">
                    <mat-card-title class="card-title">{{bookDetails.bookName}}</mat-card-title>
                    <mat-card-title class="author">By {{bookDetails.author}}</mat-card-title>
                </div>
                <div fxLayout="row" style="display: flex;padding-left: 11px;">
                    <div class="rating-back">
                        <span class="rating">4.5
                            <img class="star" src="../../../assets/star_FILL.svg" alt="">
                        </span>
                    </div>
                    <span class="quantity">({{bookDetails.quantity}})</span>
                </div>
                <div class="price">
                    <span>Rs. {{bookDetails.price}}/- </span>
                </div>
                <br>
                <br>

                <div class="bookInfo">
                    <h2 style="color: #878787;">Book Details</h2>
                    <span class="para">With unique insights from within the far-right movement and from the front 
                        lines of the courageous team investigating it, Riggleman shows how our democracy 
                        is balanced on a knife’s edge between disinformation and truth. Here is a 
                        revelatory peek at the inner workings of the January 6th committee and a clear-eyed
                        look at the existential threats facing the republic?and a blueprint for how America 
                        can fight to survive the darkest night before the dawn.</span>
                </div>
                <div class="feedback">
                    <h2>Customer Feedback</h2>
                    <div class="oveRate">
                        <samp style="margin:2px 15px">Overall rating</samp>
                        <div style="display: flex;margin:2px 15px">
                            <img style="width: 18px;height: 18px;" src="../../../assets/star_FILL.svg" alt="">
                            <img style="width: 18px;height: 18px;" src="../../../assets/star_FILL.svg" alt="">
                            <img style="width: 18px;height: 18px;" src="../../../assets/star_FILL.svg" alt="">
                            <img style="width: 18px;height: 18px;" src="../../../assets/star_FILL.svg" alt="">
                            <img style="width: 18px;height: 18px;" src="../../../assets/star_FILL.svg" alt="">

                        </div>
                        <input class="review" type="text" placeholder="Write your review">
                        <button class="sub">
                            Submit
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>