<div class="Main">
    <div class="container">
        <div class="heading">
            <h1>Order placed successfully</h1>
        </div>
        <div class="msg">
            <span>hurray!!! your order is confirmed the order id is #123456 save the order id for further communication.</span>
        </div>
        <div class="details">
            <div class="info"  >
                <div style="padding-left:60px;margin-top: 10px;" ><span >Email us</span></div>
            
                <div style=" padding-left: 20px;margin-top: 10px;"><span>Contact us</span>

                </div>
                
                <div style="padding-right:160px;padding-left: 110px;margin-top: 10px;"><span >Address</span></div>
                
            </div>
            <div class="data">
                <div style="padding-left:30px;padding-top: 10px; " ><span >admin@bookstore.com</span></div>
            
                <div class="num"><span>+91 8474638364</span>

                </div>
                
                <div style=" width :270px; padding-right:40px; padding-left: 40px;padding-top: 6px;"><span >42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</span></div>
            </div>
        </div>
        <button class="continue" routerLink="/home/books">
            <span style="color:  #FFFFFF; width: 72px;height: 17px;font: normal normal medium 14px/17px Lato;">Continue shopping</span>
        </button>
    </div>
</div>